<!--Code for activating GitHub project page
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
-->

<span class="site-footer-credits">
<img src="https://theopenorganization.org/assets/images/red_hat_endorsement_black.png" alt="Supported by Red Hat"><br />
© 2015‒2021 <a href="http://redhat.com/">Red Hat, Inc.</a> and others. Written materials licensed via Creative Commons <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="Attribution-ShareAlike 4.0 International">Attribution-ShareAlike 4.0 International</a> license.
</span>
