---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&family=Red+Hat+Text&display=swap');
.page-header {
	background-color: #ffffff;
	background-image: none;
  @include large {
    padding: 5rem 6rem 1rem;
	}
  @include medium {
    padding: 3rem 4rem 1rem;
	}
  @include small {
    padding: 2rem 1rem 1rem;
	}
	}
.page-header img {
    max-width: 100%;
	padding-bottom: 0.5rem;
  @include large {
    max-width: 100%;
	padding-bottom: 0.5rem;
	}
  @include medium {
    max-width: 80%;
	padding-bottom: 0.5rem;
	}
  @include small {
    max-width: 75%;
	padding-bottom: 0.5rem;
	}
	}
.site-footer-credits {
	font-size: 80%;
	color: #bfbfbf;
	}
.project-tagline {
	color: #404040;
	}
.btn {
 display:inline-block;
 margin-bottom:1rem;
 color:#753fb2;
 background-color:#ffffff;
 border-color:#bfbfbf;
 border-style:solid;
 border-width:1px;
 border-radius:0.3rem;
 transition:color 0.3s, background-color 0.3s, border-color 0.3s;
	}
.btn:hover {
 color: #753fb2;
 text-decoration:none;
 background-color:#ffffff;
 border-color:#404040;
	}
body {
    font-family: "Red Hat Text", "Open Sans", sans-serif;
    color: #404040;
    }
h1,h2,h3,h4,h5,h6 {
    font-family: "Red Hat Display", "Open Sans", sans-serif;
	}
.main-content h1,.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content h6 {
	color: #404040;
    }
.main-content h2 {
	border-bottom: 0.12rem dotted;
	}
.main-content h3 {
	margin-bottom: -0.8rem;
	}
.main-content ul{
	background-color: #f0f0f0;
	padding: 5% 10% 5% 10%;
}
.main-content ul li{
	margin: 3% 0% 0% 0%;
	}
img[src*="book-cover"] {
	width: 250px;
	float: right;
	margin-left: 5%;
	}
a {
  color: #753fb2;
	}

