---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&family=Red+Hat+Text&display=swap');
.page-header {
	background-color: #33cccc;
	background-image: none;
  @include large {
    padding: 5rem 6rem 1rem;
	}
  @include medium {
    padding: 3rem 4rem 1rem;
	}
  @include small {
    padding: 2rem 1rem 1rem;
	}
	}
.site-footer-credits {
  font-size: 80%;
}
.project-tagline {
    opacity: 0.9;
	}
body {
    font-family: "Red Hat Text", "Open Sans", sans-serif;
    color: #404040;
    }
h1,h2,h3,h4,h5,h6 {
    font-family: "Red Hat Display", "Open Sans", sans-serif;
	}
.main-content h1 {
	color: #33cccc;
	border-bottom: 0.12rem dotted;
	}
.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content h6 {
	color: #33cccc;
    }
a {
  color: #cc3366;
	}
 img {
    max-width: 100%;
    opacity: 0.9;
	padding-bottom: 20px;
  @include large {
    max-width: 100%;
    opacity: 0.9;
	padding-bottom: 20px;
	}
  @include medium {
    max-width: 80%;
    opacity: 0.9;
	padding-bottom: 20px;
	}
  @include small {
    max-width: 75%;
    opacity: 0.9;
	padding-bottom: 20px;
	}
	}

